#root {
  margin: 0 auto;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
  position: fixed;
  top: 0;
  width: 50%;
  left: 25%;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  padding: 4px;
  margin: 4px;
  color: white;
  border-width: 2px;
  border-style: bold;
  border-radius: 4px;
}

.posts {
  display: flex;
  flex-direction: column;

}

.post {
  margin: 4px;
  padding: 4px;
  border-radius: 10px;

}

.post:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}